node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

dist/
build/
out/
.next/
.vercel/

release/
*.asar

.idea/
turbo/
.vscode/

*.tsbuildinfo

.env
.env.*
!.env.example

prisma/generated/
prisma/migrations/**/README.md
prisma/migrations/*/migration.sql-journal

logs/
*.log
logs/**/*.log

.DS_Store
Thumbs.db

coverage/

app/.next/
app/.vercel/

backend/dist/
backend/node_modules/

app/node_modules/
app/.next/
app/dist/

src-electron/node_modules/
src-electron/dist/
src-electron/out/
src-electron/*.log

*.swp
*.swo

.pids
*.pid
*.seed
*.pid.lock

docker-data/
docker-compose.override.yml
