@import "tailwindcss";
@import "tw-animate-css";


html,
body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-background: #fffbdd;
  --color-foreground: #1d1a05;

  --color-primary: #7fb069;
  --color-primary-foreground: #1d1a05;

  --color-muted: #dfe9a8;
  --color-muted-foreground: #49230d;

  --color-card: #fffbbd;
  --color-card-foreground: #1d1a05;

  --color-border: #bfd693;
  --color-ring: #7fb069;

  --color-task-leaf: #7fb069;
  --color-task-moss: #bfd693;
  --color-task-lime: #dfe9a8;
  --color-task-sand: #fffbdd;
}

.dark {
  --color-background: #1d1a05;
  --color-foreground: #fffbdd;

  --color-primary: #ad6b3f;
  --color-primary-foreground: #fffbdd;

  --color-muted: #49230d;
  --color-muted-foreground: #ffeac7;

  --color-card: #49230d;
  --color-card-foreground: #fffbdd;

  --color-border: #742b15;
  --color-ring: #ad6b3f;

  --color-task-leaf: #7fb069;
  --color-task-moss: #bfd693;
  --color-task-lime: #dfe9a8;
  --color-task-sand: #fffbdd;
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}
